.b{
    background-color: black;
    padding:15px 30px;
    color:white;
    font-size:20px;
  }
  .t{
    font-size:20px;
  }
  .c{
    background-color:green;
    padding:15px 30px;
    color:white;
    font-size:20px;
  }
  body{
    background-image:url("nature.jpg");
  background-repeat:no-repeat;
  background-position:top;
  background-size:cover;
  height:97vh;
  width:99vw;
  backface-visibility:visible;
  }